:root {
    --border-gradient-onyx: linear-gradient(
            to bottom right,
            hsl(0, 0%, 25%) 0%,
            hsla(0, 0%, 25%, 0) 50%
    );
    --bg-gradient-jet: linear-gradient(
            to bottom right,
            hsla(240, 1%, 18%, 0.251) 0%,
            hsla(240, 2%, 11%, 0) 100%
    ), hsl(240, 2%, 13%);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
    --fs-6: 14px;
    --light-gray: hsl(0, 0%, 84%);
}

body {
    background: #121212;
    color: #d6d6d6;
    font-family: "Poppins", sans-serif;
}

.container {
    background: #1e1e1f;
    padding: 10px 30px;
    margin: 30px auto;
    width: 1200px;
    max-width: 90%;
    border-radius: 15px;
    border: 2px solid #292929;
}

ul {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

p, a {
    line-height: 1.4;
    color: #d6d6d6;
    margin: 0 10px;
}

p > a {
    margin: 0;
}

/* todo why do i need to override h1 near top of document? */
h1 {
    font-size: 2rem;
}

h1, h3 {
    margin-left: 10px;
}

.gradient {
    background: linear-gradient(to right, #aa5ee8, #7a3da9);
    width: 50px;
    height: 5px;
    border-radius: 15px;
    margin-left: 10px;
}

.article-title {
    margin-bottom: 20px;
}

.article-container {
    position: relative;
    background: var(--border-gradient-onyx);
    padding: 8px 20px 20px;
    border-radius: 14px;
    box-shadow: var(--shadow-2);
    z-index: 1;
}

.article-container::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: var(--bg-gradient-jet);
    border-radius: inherit;
    z-index: -1;
}

.article-container > p {
    margin-left: 5px;
}

.article-inner-container {
    display: flex;
    align-items: center;
}

.article-inner-container > img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.article-inner-container > h2 > a {
    margin: 0;
}

.heading {
    margin-bottom:  10px;
}

.heading > h1 {
    margin-bottom: 10px;
}